a{
    color: skyblue !important;
}

.margin_bottom-15{
    margin-bottom: 15px;
}

.heading{
    text-align: center;
}

.question-list{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.question-list h4{
    margin: 0;
    padding: 0;
}

.question-list a,.question-title{
    font-size: 18px;
    text-decoration: none;
    color: #1c7194 !important;
}

.answer-wrapper{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
}
.my-question{
    display: flex;
    justify-content: space-between;
}